<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2 class="hero-unit-heading">Єдиний аналітичний реєстр державних службовців України</h2>
  </div>
</header>

<div class="container">
  <div class="row login-form-row">
    <div class="col-xs-10 col-xs-offset-1">
      <form class="form" name="form">
        <h4>Тут у майбутньому буде розмiщена iнструкцiя користувача</h4>
      </form>
    </div>
  </div>
</div>
