<div ng-include="'components/navbar/navbar.html'"
     class="navbar-static-top"></div>
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">Експорт</div>-->
<!--<div class="panel-body">-->
<!--<div class="col-xs-12 col-md-8">-->
<!--<div class="col-xs-6 col-sm-1"><label style="padding-top: 8px;">Період:</label></div>-->
<!--<div class="col-xs-6 col-sm-2"><input class="form-control" ng-model="export.from" ng-change="initExportUrl()" ng-required="true"></div>-->
<!--<div class="col-xs-6 col-sm-2"><input class="form-control" ng-model="export.to" ng-change="initExportUrl()" ng-required="true"></div>-->
<!--<div class="col-xs-6 col-sm-2"><label style="padding-top: 8px;">Оберіть послугу:</label></div>-->
<!--<div class="col-xs-6 col-sm-3">-->
<!--<select name="bpID"-->
<!--ng-model="export.sBP"-->
<!--ng-options="processDefinition.sID as processDefinition.sName for processDefinition in processesList"-->
<!--ng-required="true"-->
<!--class="form-control"-->
<!--ng-show="processesLoaded() && !processesLoadError()"-->
<!--ng-change="initExportUrl()"></select>-->
<!--<label ng-hide="processesLoaded() || processesLoadError()" style="padding-top: 8px;">Завантаження послуг...</label>-->
<!--<label ng-show="processesLoadError()" style="padding-top: 8px;">Помилка при завантаженні</label>-->
<!--</div>-->
<!--<div class="col-xs-6 col-sm-2">-->
<!---->
<!--<a ng-href="{{getExportLink()}}" class="btn btn-success" target="_self"-->
<!--ng-disabled="!processesLoaded() || processesLoadError()">Експортувати</a>-->
<!--&lt;!&ndash;<button ng-click="initExportUrl()" class="btn btn-success">Експортувати</button>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="panel panel-default">
  <div class="panel-heading">Звіт даних</div>
  <div class="panel-body" style="padding-top: inherit;">
    <div class="col-xs-12 col-md-10">
      <div class="col-xs-6 col-sm-2">
        <label style="padding-top: 8px;">Квартал з:</label>
        <select name="quaterFrom"
                ng-model="statistic.quaterFrom"
                ng-required="true"
                class="form-control">
                <!--ng-show="processesLoaded() && !processesLoadError()">-->
          <option value="">-</option>
          <option value="1">I</option>
          <option value="2">II</option>
          <option value="3">III</option>
          <option value="4">IV</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-2">
        <label style="padding-top: 8px;">Рік з:</label>
        <select name="yearFrom"
                ng-model="statistic.yearFrom"
                ng-required="true"
                class="form-control">
                <!--ng-show="processesLoaded() && !processesLoadError()">-->
          <option value="">-</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-2">
        <label style="padding-top: 8px;">Квартал по:</label>
        <select name="quaterTo"
                ng-model="statistic.quaterTo"
                ng-required="true"
                class="form-control">
                <!--ng-show="processesLoaded() && !processesLoadError()">-->
          <option value="">-</option>
          <option value="1">I</option>
          <option value="2">II</option>
          <option value="3">III</option>
          <option value="4">IV</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-2">
        <label style="padding-top: 8px;">Рік по:</label>
        <select name="yearTo"
                ng-model="statistic.yearTo"
                ng-required="true"
                class="form-control">
                <!--ng-show="processesLoaded() && !processesLoadError()">-->
          <option value="">-</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
        </div>
      <div class="col-xs-6 col-sm-2">
        <label  style="padding-top: 8px; color: white">access</label>
        <a ng-href="{{getStatisticLink()}}" class="btn btn-success" target="_self"
           style="width: 100%;">Зберегти</a></div>
           <!--ng-disabled="!processesLoaded() || processesLoadError()" -->

      </div>

      <!--<div class="col-xs-6 col-sm-1"><label style="padding-top: 8px;">Період з:</label></div>-->
      <!--<div class="col-xs-6 col-sm-2"><input class="form-control" ng-model="statistic.from" ng-change="initStatisticUrl()" ng-required="true"></div>-->
      <!--<div class="col-xs-6 col-sm-1"><label style="padding-top: 8px;">Період по: </label></div>-->
      <!--<div class="col-xs-6 col-sm-2"><input class="form-control" ng-model="statistic.to" ng-change="initStatisticUrl()" ng-required="true"></div>-->

      <!--<div class="col-xs-6 col-sm-2"><label style="padding-top: 8px;">Оберіть послугу:</label></div>-->
      <!--<div class="col-xs-6 col-sm-3">-->
      <!--<select name="bpID"-->
      <!--ng-model="statistic.sBP"-->
      <!--ng-options="processDefinition.sID as processDefinition.sName for processDefinition in processesList"-->
      <!--ng-required="true"-->
      <!--class="form-control"-->
      <!--ng-show="processesLoaded() && !processesLoadError()"-->
      <!--ng-change="initStatisticUrl()"></select>-->
      <!--<label ng-hide="processesLoaded() || processesLoadError()" style="padding-top: 8px;">Завантаження послуг...</label>-->
      <!--<label ng-show="processesLoadError()" style="padding-top: 8px;">Помилка при завантаженні</label>-->
    </div>
    <div class="col-xs-6 col-sm-2">
      <!--<button ng-click="statisticLink()" class="btn btn-success" style="width: 115px;">Зберегти</button>-->

    </div>
  </div>
</div>
</div>
