<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2 class="hero-unit-heading">Єдиний аналітичний реєстр державних службовців України</h2>
  </div>
</header>

<div class="container">
  <div class="row login-form-row" ng-controller="RegisterCtrl">
    <div class="col-xs-4 col-xs-offset-4">
      <form class="form" name="form" ng-submit="registerUser(form)">
        <label style="font-size: 25px;">Реєстрація</label>
        <div class="form-group" ng-class="{ 'has-error' : form.singleSelect1.$invalid && !form.singleSelect1.$pristine }">
          <label>Орган</label><br/>
          <select name="singleSelect1" id="singleSelect1" ng-model="userReg.sOrgan" style="width: 100%; height: 30px;" required>
            <option value="">Не вибрано</option>
            <option ng-repeat="group in groups" value="{{group.id}}">{{group.name}}</option>
          </select>
          <p ng-show="form.singleSelect1.$invalid && !form.singleSelect1.$pristine" class="help-block">Не вибрана група</p>
          <p ng-if="loginForm.email.$error.required">Не вибрано</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.sPosition.$invalid && !form.sPosition.$pristine }">
          <label>Посада</label>
          <input type="text" name="sPosition" class="form-control" ng-pattern=" /^[А-Яа-яІIiіЇїЄє\s']*$/" ng-minlength="1" ng-model="userReg.sPosition" required>
          <p ng-show="form.sPosition.$error.minlength" class="help-block">Не введена посада</p>
          <p ng-show="form.sPosition.$error.pattern" class="help-block">Введено неприпустимі символи. Можливо використовувати тільки літери кирилиці.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.lName.$invalid && !form.lName.$pristine }">
          <label>Прізвище</label>
          <input type="text" name="lName" class="form-control" ng-pattern=" /^[А-Яа-яІIiіЇїЄє']*$/" ng-minlength="1" ng-model="userReg.sLastName" required>
          <p ng-show="form.lName.$error.minlength" class="help-block">Заповнiть поле</p>
          <p ng-show="form.lName.$error.pattern" class="help-block">Введено неприпустимі символи. Можливо використовувати тільки літери кирилиці.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.fName.$invalid && !form.fName.$pristine }">
          <label>Iм'я</label>
          <input type="text" name="fName" class="form-control" ng-pattern=" /^[А-Яа-яІIiіЇїЄє']*$/" ng-minlength="1" ng-model="userReg.sFirstName" required>
          <p ng-show="form.fName.$error.minlength" class="help-block">Заповнiть поле</p>
          <p ng-show="form.fName.$error.pattern" class="help-block">Введено неприпустимі символи. Можливо використовувати тільки літери кирилиці.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.sName.$invalid && !form.sName.$pristine }">
          <label>По батьковi</label>
          <input type="text" name="sName" class="form-control" ng-pattern=" /^[А-Яа-яІIiіЇїЄє']*$/" ng-minlength="1" ng-model="userReg.sMiddleName" required>
          <p ng-show="form.sName.$error.minlength" class="help-block">Заповнiть поле</p>
          <p ng-show="form.sName.$error.pattern" class="help-block">Введено неприпустимі символи. Можливо використовувати тільки літери кирилиці.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
          <label>Адреса електронної пошти</label>
          <input type="email" name="email" class="form-control"  ng-pattern="/^[A-Za-z]+[A-Za-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="userReg.sEmail" required>
          <p ng-show="form.email.$error.email" class="help-block">Некоректний Email</p>
          <p ng-show="form.email.$error.pattern" class="help-block">Адреса електронної пошти може складатися з латинських символiв та цифр</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.phone.$invalid && !form.phone.$pristine }">
          <label>Номер телефону</label>
          <input type="tel" name="phone" class="form-control"  ng-pattern="/^\+[3][8][0-9]{1,}$/" ng-minlength="13" ng-maxlength="13" ng-model="userReg.sPhone" required>
          <p ng-show="form.phone.$error.minlength || form.phone.$error.maxlength || form.phone.$error.pattern" class="help-block">Невiрно вказаний номер (формат +380...)</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.login.$invalid && !form.login.$pristine }">
          <label>Логін</label>
          <input type="text" name="login" class="form-control" ng-pattern=" /^[A-Za-z]*$/" ng-model="userReg.sLogin" ng-minlength="6" required>
          <p ng-show="form.login.$error.minlength" class="help-block">Мiнiмальна довжина логiну 6 символiв</p>
          <p ng-show="form.login.$error.pattern" class="help-block">Логiн повинен складатися з латинських символiв</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
          <label>Пароль</label>
          <input type="password" name="password" class="form-control" ng-pattern=" /^[A-Za-z0-9]*$/" ng-model="userReg.sPassword" ng-minlength="6" required>
          <p ng-show="form.password.$error.minlength" class="help-block">Мiнiмальна довжина паролю 6 символiв</p>
          <p ng-show="form.password.$error.pattern" class="help-block">Пароль може складатися з латинських символiв та цифр</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.password2.$invalid && !form.password2.$pristine }">
          <label>Повторний пароль</label>
          <input type="password" name="password2" class="form-control" ng-pattern=" /^[A-Za-z0-9]*$/" ng-model="password2" ng-minlength="6" required>
          <p ng-show="form.password2.$error.minlength" class="help-block">Мiнiмальна довжина паролю 6 символiв</p>
          <p ng-show="form.password2.$error.pattern" class="help-block">Пароль може складатися з латинських символiв та цифр</p>
          <!--<p ng-show="form.password2 != form.password" class="help-block">Паролі неспівпадають</p>-->
        </div>
        <div class="form-group has-error">
            <p ng-show="errors.length > 0" class="help-block">{{errors}}</p>
        </div>
        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Зареєструватися
          </button>
          <a ng-href="/main" class="btn btn-link">Вхід для <br/>зареєстрованого<br/> користувача</a>
        </div>
      </form>
    </div>
  </div>
</div>
